@import '../../main.scss';

.section {
  @include section-style;
}

.formElementPadding {
  padding: 0 0 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.radioButtons {
  border: none;
  margin: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 800px;
  margin: 0 auto;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 60%;
  transition: transform 500ms;

  &:not([open]) {
    transform: translateX(-150%);
    transition: transform 500ms;
  }
}
