@function soft-border($color) {
  @return 0 2.8px 2.2px rgba($color, 0.034), 0 6.7px 5.3px rgba($color, 0.048),
    0 12.5px 10px rgba($color, 0.06), 0 22.3px 17.9px rgba($color, 0.072),
    0 41.8px 33.4px rgba($color, 0.086), 0 100px 80px rgba($color, 0.12);
}

.card {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  box-shadow: soft-border(#000000);
  transition: box-shadow 100ms 100ms;

  &:hover {
    box-shadow: soft-border(#ff8c00);
    cursor: pointer;
  }
}

.img {
  width: 250px;
  height: 170px;
  object-fit: fill;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.description {
  display: grid;
  grid-template-areas:
    'name  name'
    'price stock';
  justify-items: center;
  column-gap: 80px;
  row-gap: 25px;
}

.rating {
  grid-area: rating;
}

.name {
  grid-area: name;
  text-align: center;
}

.price {
  grid-area: price;
}

.stock {
  grid-area: stock;
}
