.errorPage {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  font-size: 4em;
}

.description {
  font-size: 2em;
}

.link {
  color: blue;
  transition: color 100ms 100ms;

  &:hover {
    color: darkorange;
  }
}